<!-- ko with: home -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="search">
                <ul class="nav nav-tabs">
                    <li class="active"><a>Sales Records</a></li>
                </ul>
                <br/>
                <div class="tab-content">
                    <div class="search-bar">
                        <div class="tab-pane active">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus" /></button>
                                </span>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary earnings col">
                <div class="panel-heading">Earnings</div>
                <div class="panel-body">
                    Placeholder Text
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /ko -->
