<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="search">
                <ul class="nav nav-tabs">
                    <li class="active"><a>Sales Records</a></li>
                    <li><a>Products</a></li>
                </ul>
                <br/>
                <div class="tab-content">
                    <div class="search-bar">
                        <div class="tab-pane active">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..."/>
                                <span class="input-group-btn">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Add a new sales report">
                                        <button class="btn btn-success" data-toggle="modal" data-target="#addReportModal"type="button"><span class="glyphicon glyphicon-plus"/></button>
                                    </span>
                                </span>
                            </div>
                            <br />
                            <span data-bind="if: salesRecords().length == 0 && salesRecords() != null">No data to display.</span>
                            <table class="table table-striped"data-bind="if: salesRecords().length > 0 && salesRecords() != null">
                                <thead>
                                    <th>Sales ID</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody data-bind="foreach: ids">
                                <tr>
                          
                                    <td data-bind="text: $data"></td>
                                    <td>
                                        <button data-toggle="modal" data-bind="click: $parent.getDataFromId" data-target="#viewModal"class="btn btn-info glyphicon glyphicon-eye-open"></button>
                                        <button data-toggle="modal" data-bind="click: $parent.getDataFromId" data-target="#editModal" class="btn btn-default glyphicon glyphicon-pencil"></button>
                                        <button data-bind="click: $parent.deleteSalesId" class="btn btn-danger glyphicon glyphicon-trash"></button>
                                    </td>
                                    
                                </tr>
                                </tbody>
                            </table >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary earnings">
                <div class="panel-heading">Earnings <div class="checkbox" style="display: inline-block; margin-left: 120px;"><input type="checkbox" name="monthly" value="monthly" />Monthly</div>
                </div>
                <div class="panel-body">
                    <p>The weekly grossing total is:</p>
                    <h3 style="text-align: center" id="grossSalesAmount"data-bind="text: grossSales"></h3>
                </div>
            </div>
            <div class="panel weekly-monthly-sales">
                <button data-toggle="modal" data-target="#modelWeeklySales" class="btn btn-info btn-weekly">Weekly Sales Totals</button>
                <button data-toggle="modal" data-target="#modelMonthlySales" class="btn btn-info btn-monthly">Monthly Sales Totals</button>
            </div>
        </div>
    </div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="title-group">
                    <span data-bind="if: individualSale().length >= 1"><h4 class="modal-title">Sales Report for Sale ID:<span data-bind="text: individualSale()[0].sales_ID"></span></h4></span>
                    <input type="hidden" id="currentId" value="" />
                    <button type="button" data-toggle="tooltip" data-placement="bottom" title="Add a new item" class="addNewProduct btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                </div>
            <div class="modal-body">
                <div data-bind="foreach: individualSale">
                    <!--ko if: $index() == 0-->
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" for="inputProductName">Product Name</label>
                            <input id="inputProductName" data-bind="value: product_Name"class="form-control"type="text" name="productName"/>
                        </div>
                        <div class="col-md-4 move-left">
                            <label class="form-control-label" for="inputAmountSold">Amount Sold</label>
                            <input id="inputAmountSold" data-bind="value: amount_Sold"class="form-control"type="number" name="amountSold" value="1"/>
                        </div>
                        <div class="col-md-2 move-left">
                            <label class="form-control-label" for="inputAmountSold">Price</label>
                            <input id="inputAmountSold" data-bind="value: price" class="price form-control" type="number" name="amountSold" value="1" step="0.01" />
                        </div>
                    </div>
                    <!-- /ko -->
                    <!--ko if: $index() != 0-->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-control-label" for="inputProductName">Product Name</label>
                            <input id="inputProductName" data-bind="value: product_Name" class="form-control" type="text" name="productName"/>
                        </div>
                        <div class="col-md-4 move-left">
                            <label class="form-control-label" for="inputAmountSold">Amount Sold</label>
                            <input id="inputAmountSold" data-bind="value: amount_Sold" class="form-control" type="number" name="amountSold" value="1"/>
                        </div>
                        <div class="col-md-2 move-left">
                            <label class="form-control-label" for="inputAmountSold">Price</label>
                            <input id="inputAmountSold" data-bind="value: price" class="price form-control" type="number" name="amountSold" value="1" step="0.01" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="remove_field btn btn-danger glyphicon glyphicon-trash" style="margin-top: 24px;"> </button>
                        </div>
                    </div>
                    <!--/ko-->
                </div>
                </div>
                <div class="modal-footer">
                    <button data-bind="click: updateData" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="viewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" data-bind="if: individualSale().length >= 1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sales Report for Sale ID:<span data-bind="text: individualSale()[0].sales_ID"></span></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Product name</th>
                            <th> Amount sold</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: individualSale">
                        <tr>
                            <td data-bind="text: product_Name"></td>
                            <td data-bind="text: amount_Sold"></td>
                            <td data-bind="text: price"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="addReportModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="title-group">
                        <h4 class="modal-title">Add new sales report</h4>
                        <input type="hidden" id="salesIdholder" value="" />
                        <button type="button" data-toggle="tooltip" data-placement="bottom" title="Add a new item"  class="addNewProduct btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" for="inputProductName">Product Name</label>
                            <input id="inputProductName" class="form-control"type="text" name="productName"/>
                        </div>
                        <div class="col-md-4 move-left">
                            <label class="form-control-label" for="inputAmountSold">Amount Sold</label>
                            <input id="inputAmountSold" class="amount form-control"type="number" name="amountSold" value="1"/>
                        </div>
                        <div class="col-md-2 move-left">
                            <label class="form-control-label" for="inputPrice">Price</label>
                            <input id="inputPrice" class="price form-control" type="number" name="price" value="0.0" step="0.01" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-bind="click: postData" type="submit" class ="btn btn-primary"  data-dismiss="modal">Add report</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modelWeeklySales" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Weekly Sales Totals</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product name</th>
                                <th> Amount sold</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: individualSale">
                            <tr>
                                <td data-bind="text: product_Name"></td>
                                <td data-bind="text: amount_Sold"></td>
                                <td data-bind="text: price"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modelMonthlySales" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Monthly Sales Totals</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product name</th>
                                <th> Amount sold</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: individualSale">
                            <tr>
                                <td data-bind="text: product_Name"></td>
                                <td data-bind="text: amount_Sold"></td>
                                <td data-bind="text: price"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

